.container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.controls {
  margin: 30px auto;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.albums {
  list-style: none;
  padding-left: 0;
}

.albums li {
  display: flex;
  flex-direction: row;
  width: 60vw;
  align-items: center;
  border-radius: .2em;
  margin-bottom: 1em;
  padding: .5em;
}

.li-col1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.li-col2 {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.albums p {
  font-weight: bold;
  margin: 0;
  flex: 1;
}

.images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
}

.image {
  height: 60px;
  width: 60px;
  border: 1px solid white;
  margin-right: .5em;
  margin-top: .5em;
  border-radius: .2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.delete:hover {
  filter: grayscale(100%) 
  brightness(40%) 
  sepia(100%) 
  hue-rotate(-50deg) 
  saturate(600%) 
  contrast(0.8);
  cursor: pointer;
}

.modal {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: .2em;
  width: 40vw;
}

.edit-modal .modal-content {
  margin: 5% auto;
}

.modal-content p {
  color: black;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.preview {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.warning {
  background-color: rgb(253, 255, 118);
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  padding: 15px 0;
}

