.content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.albums {
  list-style: none;
  padding-left: 0;
}

.albums li {
  display: flex;
  flex: row;
  width: 40vw;
  align-items: center;
  border: 1px solid rgb(158, 158, 158);
  border-radius: .2em;
  margin-bottom: 1em;
  padding: .5em;
  background-color: #282c34;
}

.albums p {
  font-weight: bold;
  margin: 0;
  flex: 1;
}

.images {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.image {
  height: 60px;
  width: 60px;
  border: 1px solid white;
  margin-left: .5em;
  border-radius: .2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: .2em;
  width: 50vw;
}

.preview {
  display: flex;
  justify-content: flex-start;
  color: black;
  flex-wrap: wrap;
  margin-top: 20px;
}

.warning {
  background-color: rgb(253, 255, 118);
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  padding: 15px 0;
}